* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html{
  min-height: 100%;
}

body{
  margin: 0px;
  background-image: linear-gradient(#2E3192,#1BFFFF);
}

.contact-us {
  width: 250px;
  background-color: azure;
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position:  relative;
}
.title {
  clear: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}


input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background-color: aliceblue;
  border: 0px;
  border-radius: 10px;
  outline: none;
  text-align: left;
}


textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background-color: aliceblue;
  border: 0px;
  border-radius: 10px;
  outline: none;
  text-align: left;
  resize: none;
}

.btn {
  background-image:linear-gradient(#2E3192,#1BFFFF);
  text-align: center;
  color: aliceblue;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
  font-size:x-large;
}

.btn:hover{
  opacity: 80%;
  cursor: pointer;
}
